
OldVersions/assembly.0004.iam
OldVersions/BodyCylinder.0016.ipt
OldVersions/CapCenter.0006.ipt
OldVersions/CapCone.0007.ipt
OldVersions/Clamp.0005.ipt
OldVersions/CompositeSupport.0002.iam
OldVersions/CompositeSupportShort.0001.iam
OldVersions/Fitting-1.0003.ipt
OldVersions/Fitting-2.0003.ipt
OldVersions/Fitting-3.0002.ipt
OldVersions/FlangeCone.0003.ipt
OldVersions/he4inserts.ipj.bak
OldVersions/Insert_flange.0008.ipt
OldVersions/Insert_flange_Top.0005.ipt
OldVersions/Insert_Top.0005.ipt
OldVersions/insertAssembly-2.0005.iam
OldVersions/insertAssembly.0003.iam
OldVersions/InsertTube6OD0.6W100L.0002.ipt
OldVersions/InsertTube6OD0.6W25L.0001.ipt
OldVersions/Screw_StainlessSteal_M3_SocketCap_6mm.0001.ipt
OldVersions/assembly.0006.iam
OldVersions/BodyCylinder.0020.ipt
OldVersions/CompositeSupport-3.0002.iam
OldVersions/CompositeSupport.0004.iam
OldVersions/Fitting-1.0006.ipt
OldVersions/Fitting-2.0004.ipt
OldVersions/insertAssembly-2.0006.iam
OldVersions/insertAssembly-3.0004.iam
OldVersions/InsertTube4OD0.5W100L.0001.ipt
OldVersions/InsertTube4OD0.5W120L.0001.ipt
OldVersions/InsertTube4OD0.5W150L.0001.ipt
OldVersions/InsertTube6OD0.6W100L.0003.ipt
OldVersions/ThinBody.0005.iam
OldVersions/SupportSlide.0010.ipt
OldVersions/SolderSupportDoubleNut.0001.ipt
OldVersions/SolderSupport.0007.ipt
OldVersions/SolderSupport.0004.iam
OldVersions/Screw_StainlessSteal_M2_SocketCap_10mm.0001.ipt
OldVersions/Nut_M2_Brass.0001.ipt
OldVersions/InsertTube4OD0.5W120L.0006.ipt
OldVersions/insertAssembly-3.0017.iam
OldVersions/Insert_flange_Top.0015.ipt
OldVersions/Insert_flange.0017.ipt
OldVersions/Fitting-2.0008.ipt
OldVersions/Fitting-1.0008.ipt
OldVersions/CompositeSupport-3.0010.iam
OldVersions/CapConeThin.0009.ipt
OldVersions/CapCenterThin.0010.ipt
OldVersions/BodyCylinderThin.0002.ipt
OldVersions/assembly.0011.iam
